h1 {
    font-size: 38px;
    line-height: 45px;
    font-family: "manropeBold";
    margin-bottom: 30px;
    margin-top: 0;
}

.profile_container {
    padding: 30px 60px;

    .profile_content {
        background-color: #F9F9F9;
        padding: 30px 60px;
        box-shadow: 0 0 4px rgb(0 0 0 / 14%);
        border-radius: 5px;

        .img_form_container {
            display: grid;
            grid-template-columns: 35% 53%;
            gap: 12%;

            .image_area {
                width: 100%;
                img {
                    width: 100%;
                }
            .img_actions {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;
                margin-top: 40px;
            }
            }

            .form_area {
                    width: 100%;
                    height: 100%;

                    .userProfile_form {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .form_actions {
                            width: 100%;
    
                            .save_btn {
                                width: 160px;
                                margin-left: 8px;
                            }
                        }
    
                    }
                
                   
            }
        }
    }
}