* {
    box-sizing: border-box;
}


section.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
  

    Button {
       &.login_button {
        background-color: #D87D4A;
        color: #fff;
        width: 100%;
        max-width: 400px;
        padding-block: 14px;
        margin-block: 20px;

        &:disabled {
            background-color: rgb(186, 186, 186);
            color: rgb(109, 109, 109);
        }
       }

     
    }


    
    h1 {
        font-family: "manropeBold";
        font-size: 40px;
        line-height: 40px;
        margin: 0;
    }

    h4{
        font-family: "manropeRegular";
        font-size: 16px;
        line-height: 16px; 
    }

    p {
        font-family: "manropeRegular";
        font-size: 12px;
    }

    .login_navlink {
        font-size: 12px;
        font-family: "manropeSemiBold";
        text-decoration: none;
        color: #D87D4A;
    }

    .login_form {
        width: 100%;
        margin-top: 40px;
        max-width: 400px;

        .login_formControl {
            margin-block: 16px;
        }
    }

    .loggedIn {
        width: 100%;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;

   
            label span {
                font-size: 12px;
            }
        

       

        
    }

    .signup_action {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p.signup_text  {
            margin-right: 4px;
        }

        .signup_text {
            font-family: "manropeSemiBold";
        }
    }
}

@media (max-width: 850px) {
    section.login_container {

        Button {
            &.login_button {
          
             padding-block: 8px;

            }
         }
      
        h1 {
            font-size: 30px;
            line-height: 30px;
     
        }
    
        h4{
   
            font-size: 14px;
            line-height: 14px; 
        }
    
        // p {

        //     font-size: 12px;
        // }
    
        // a {
        //     font-size: 12px;
        //     font-family: "manropeSemiBold";
        //     text-decoration: none;
        //     color: #D87D4A;
        // }
    }   
}

@media (max-width: 550px) {
    section.login_container {
        // .login_form {
        //     max-width: 300px
           
            
        // }
        Button {
            &.login_button {
          
             padding-block: 6px;

            }
         }

         h1 {
            font-size: 24px;
            line-height: 24px;
     
        }

        h4 {
            font-size: 12px;
            line-height: 14px;
        }

        p {
            font-size: 10px;
            line-height: 12px;
        }

        .login_formControl {
            .login_input, .login_input_label {
                font-size: 12px;
            }

            .login_input {
                .login_input_icon, .login_input_iconButton {
                    font-size: 20px;
                }
                .login_input_iconButton {
                        svg {
                            font-size: 20px;
                        }
                   }
              
            }
        }
    } 
}