.home_container {
  background-color: rgb(19, 19, 19);
  //   width: 100vw;

  object-fit: cover;
  overflow: auto;
  padding: 32px 165px;

  * {
    color: #fff;
  }

  .newproduct_page {
    // height: calc(100vh - 119.5px);
    height: calc(100vh - 183px);
    display: grid;
    grid-template-columns: 1fr 1.6fr;

    .item_description {
      padding: 165px 70px 0 0;

      p {
        color: #fff;
        &.new_product {
          color: #ffffff81;
          letter-spacing: 1em;
        }
      }
      h1 {
        font-size: 56px;
      }
    }

    .image_container {
      // width: 100%;
      grid-column: span 1;

      img {
        width: 90%;
        // height: 100%;
        object-fit: cover;
      }
    }
  }
}
