.dialog_content {
    padding: 20px;
    // width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.success {
        padding: 20px 40px;
    }

    .loader {
        margin-block: 8px;
    }

    h3 {
        margin-block: 5px;
    }

    .action_buttons {
        margin-top: 30px;
      

      
    }
    Button {
        padding: 0 30px;
    }
    .card_button_cancel {
        margin-right: 40px;
    }
    .card_button_done {
        margin-top: 40px;
    }
}