@font-face {
    font-family: 'manropeExtraLight';
    src: url('assets/fonts/Manrope-VariableFont_wght.ttf')
}

@font-face {
    font-family: 'manropelight';
    src: url('assets/fonts/Manrope-Light.ttf')
}

@font-face {
    font-family: 'manropeRegular';
    src: url('assets/fonts/Manrope-Regular.ttf')
}

@font-face {
    font-family: 'manropeMedium';
    src: url('assets/fonts/Manrope-Medium.ttf')
}

@font-face {
    font-family: 'manropeSemiBold';
    src: url('assets/fonts/Manrope-SemiBold.ttf')
}

@font-face {
    font-family: 'manropeBold';
    src: url('assets/fonts/Manrope-Bold.ttf')
}


* {
    font-family: "manropeRegular";
    box-sizing: border-box;
  }



  